.sphere-section {
  padding-top: 70px;
  color: #868686; }
  .sphere-section hr {
    margin-top: 15px;
    width: 337px; }

.decription {
  margin: 0 auto;
  padding-top: 20px;
  max-width: 510px;
  text-align: center;
  color: #adadad;
  line-height: 1.3;
  font-size: 20px; }

.spheres {
  margin-top: 85px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.sphere__item {
  max-width: 203px; }
  .sphere__item h3 {
    margin-top: 20px; }
  .sphere__item hr {
    width: 58px; }

.sphere-item__img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.sphere-item__text {
  margin-top: 22px;
  color: #adadad;
  text-align: center;
  line-height: 1.2;
  font-size: 15px; }

.sphere-item__img_external {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 115px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background: #fe8682; }

.sphere-item__img_inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 105px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); }

.clients__item-inner {
  background: #fc635e; }

.branding__item-inner {
  background: white; }

.marketing__item-inner {
  background: #fc635e; }

.adv__item-inner {
  background: #fc635e; }
